<template>
  <div className="busca"
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  ">
    <v-text-field 
    label="Buscar por cidade" 
    placeholder="Cidade" outlined
    v-model="cidade"
    > 
    </v-text-field>
    <v-btn block @click="search">Procurar</v-btn>
  </div>
</template>

<script>
export default {
  name: "Busca",
  data:()=>{
    return({
      cidade: ""
    })
  },

  methods:{
    search(){
      this.$http.post(`weather?q=${this.cidade}&units=metric&lang=pt&appid=70231c9d3e4b1d9811659a1179d25c3d`)
        .then(resp => {
          
          this.cidade=""
        })
    }
  }
};
</script>
