<template>
    <div style="
    display: flex;
    flex-direction: column;
    align-itens: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)"
    >
      <v-card
        class="mx-auto"
        max-width="400"
        block
        style="
          padding: 5% 0 0 0;
          width:400px;
          box-shadow: 0 0 0 0;
          "
      >
        <div>
          <h1 style="text-align: center">
              {{resposta.name}}
          </h1>
          <h4 style="text-align: center;"> {{resposta.dt }} </h4> 
        </div>
        <div style="
          display: flex;
          justify-content: center;
        ">       
          <div>
            <v-img
              src=" http://openweathermap.org/img/wn/10d@2x.png"
              alt="Sunny image"
            />
          
          </div> 
        </div>
        <div style="display: flex; justify-content: space-between">
          <div class="text-h2" cols="6">
            <v-label>Min</v-label>
            {{resposta.main.temp_min}}&deg;C
          </div>
          <div class="text-h2" cols="6">
            <v-label>Temp</v-label>
            {{resposta.main.temp}}&deg;C
          </div>
          <div class="text-h2" cols="6">
            <v-label>Máx</v-label>
            {{resposta.main.temp_max}}&deg;C
          </div>
          </div>
          <hr>
      <div style="display: flex; justify-content: center">
<table>
  <tr>
    <td>Umidade</td>
    <td> {{resposta.main.humidity}} %</td>
  </tr>
  <tr>
    <td>Nascer do Sol</td>
    <td>{{resposta.sys.sunrise}}</td>
  </tr>
  <tr>
    <td>Pôr do Sol</td>
    <td>{{resposta.sys.sunset}}</td>
  </tr>

</table>
      </div>

      </v-card>
      <div className="busca"
  style="
    padding: 10% 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -5%)
  ">
    <v-text-field 
    label="Buscar por cidade" 
    placeholder="Cidade" outlined
    v-model="cidade"
    > 
    </v-text-field>
    <v-btn  @click="search">Procurar</v-btn>
  </div>
    </div>
    

</template>

<script>
export default {
    name: "Busca",
  data:()=>{
    return({
      cidade: "",
      imgSrc:'',
      resposta:{
        dt: '',
        name:'',
        main:{
          temp_min:'',
          temp: '',
          temp_max:'',
          humidity: ''   
        },
        wheather:[{
          description:'',
          icon:'',
        }],
        sys: {
          sunrise: '',
          sunset: ''
        }
      },
      data:'',
    })
  },

  filters:{
      data(value){
            this.hora = time
            var a = new Date(value * 1000);
            var months = ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'];
            var year = a.getFullYear();
            var month = months[a.getMonth()];
            var date = a.getDate();
            var hour = a.getHours();
            var min = a.getMinutes();
            var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min  ;
            console.log(time)
            
          }
  },

  methods:{
    search() {
      this.$http
        .post(
          `weather?q=${this.cidade}&units=metric&lang=pt&appid=70231c9d3e4b1d9811659a1179d25c3d`
        )
        .then((resp) => {
          this.resposta = resp.data
          this.hora = resp.data.dt
          // this.imgSrc =  `http://openweathermap.org/img/wn/10d${resp.data.wheather[0].icon}@2x.png"`
          console.log(resp.data)
          console.log(resp.data.wheather[0]);

        });
    },   
  }
};
</script>

<style></style>
