<template>
  <Wheathercard/>
</template>

<script>
import Wheathercard from "./components/Wheathercard";

export default {
  name: "App",
  data:()=>{
    return ({
      mostra: false,
    })  
  },
  components: {
    Wheathercard,
  },
};
</script>
